<div class="container">
    <div class="starter-template">
        <h2>BTC / USD</h2>
        <ul class="list-group">
            <li class="list-group-item anxbtc_btc_usd"></li>
            <li class="list-group-item btce_btc_usd"></li>
            <li class="list-group-item coinbase_btc_usd"></li>
            <li class="list-group-item vircurex_btc_usd"></li>
        </ul>


        <h2>LTC / USD</h2>
        <ul class="list-group">
            <li class="list-group-item btce_ltc_usd"></li>
        </ul>


        <h2>DOGE / BTC</h2>
        <ul class="list-group">
            <li class="list-group-item cryptsy_doge_btc"></li>
        </ul>

    </div>
</div>
