body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color:#666666;
}

a {
  color: #00B7FF;
}

th {
  font-size:1.4em;
  background:#666666;
  color:#eeeeee;
}

td {
  vertical-align: middle !important;
}

td.exchangeName {
  font-size:1.4em;
  width:200px;
  color:#666666;
}
td.lastPrice {
  font-size:1.4em;
  width:200px;
  color:#666666;
}
td.lastUpdated {
  font-size:.8em;
  color:#666666;
}